:root {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	display: grid;
}

div {
	padding: 5px;
	border-radius: 10px;
}

#container {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	gap: 10px;
}

#cv {
	display: grid;
	align-content: start;
	border: solid;
	border-color: #082f49;
	border-width: 2px;
}

#personal {
	background-color: #082f49;
	color: white;
	display: grid;
	padding-top: 20px;
	padding-bottom: 20px;
}

.display {
    text-align: center;
}

.section {
    text-align: center;
}

#submit-div {
	display: grid;
	justify-content: center;
}

#view {
	display: grid;
	justify-content: center;
}
