:root {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	display: grid;
}

div {
	border: solid;
	border-width: 1px;
	padding: 10px;
}

#container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

#cv {
	display: grid;
	align-content: start;
}

#cv-personal {
	background-color: #082f49;
	color: white;
	display: grid;
}

#submit-div {
	display: grid;
	justify-content: center;
}
